body, html {
  height: 100%;
  margin: 0;
  font: 400 3vmin/1.8 "Lato", sans-serif;
  color: #777;
}

.parallax {

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.caption-low {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 3vmin;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 4vmax "Lato", sans-serif;
  color: #111;
  text-align: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

/*h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 3vmax "Lato", sans-serif;
  color: #111;
  text-align: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}
*/
.content {
  color: #777;
  background-color:white;
  text-align:center;
  padding: 5vmax 8vmax;
  text-align: justify;
}


.bg1, .bg2, .bg3, .bg4, .bg5, .bg6 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg1 {
	/* The image used */
    background-image: url("assets/bg1.png");
    min-height: 400px;
}

.bg2 {
	/* The image used */
    background-image: url("assets/bg2.jpg");
    min-height: 400px;
}

.bg3 {
	/* The image used */
    background-image: url("assets/bg3.jpg");
    min-height: 400px;
}

.bg4 {
	/* The image used */
    background-image: url("assets/danceTogether2.jpg");
    min-height: 400px;
}

.bg5 {
	/* The image used */
    background-image: url("assets/BoDiddley.jpg");
    min-height: 400px;
}

.bg6 {
	/* The image used */
    background-image: url("assets/beachPole.jpg");
    min-height: 400px;
}

.marker {
    height: 5vmin;
}
