body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #16b6d9;
  z-index: 9000;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
}

.navbar a{
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: .75em;

}

.navbar a:hover {
    background-color: #ffffff;
    color: #16b6d9;
    font-weight: bold;
}

.navbar a.active {
  background-color: #000000;
  color: #16b6d9;
  font-weight: bold;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: relative;
  visibility: visible ;
}

.hide {
	visibility: hidden;
  height: 60px;
}

.sticky + .heading {
  padding-top: 60px;
}

.sticky + .content {
  padding-top: 60px;
}

.p-3a {
  height: 3rem!important;
  padding: 1.5rem;
}

/* accentuate text within page */
.accentuate {
  font-weight: bold;
  font-size: 1.25rem;
}

.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
